@import '../node_modules/@fontsource/roboto/index.css';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}


::-webkit-scrollbar-track {
  background: #3b5fff65;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: #8396ff;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #ebe8e8;
}


